
.media_browser {float: right; height: 222px;}
/*.media_browser_item * { font-size: .95em; }*/
.media_browser_item {border-bottom: 1px solid #D3E7F4; overflow: hidden; padding: .4em .7em;}
.media_browser_item.last { border-bottom: 0;}
.media_browser_item.odd { background: #EDF5FA; }
.media_browser_item.even { background: white; }
.media_browser_attachment { padding: .7em 1em; }
table.media_browser_container td { border: 1px solid #D3E7F4; padding: 0em; }
